In [ ]:
"""Module on yandex course."""

In [1]:
import pandas as pd

In [2]:
path_0 = "/home/tatiana/Documents/github/Data-Science-For-Beginners"
path_1 = "/Datasets/2019.csv"
path = path_0 + path_1

df = pd.read_csv(path)
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [ ]:
min_score = df["Score"].min()
max_score = df["Score"].max()
print(max_score)
print(min_score)

In [ ]:
mean_score = df["Score"].mean()
print(mean_score)

In [5]:
median_score = df["Score"].median()
print(median_score)

5.3795

In [3]:
# mode in all countries
print(df["Score"].mode()[0])

5.208

In [ ]:
std_score = df["Score"].std()
print(std_score)

In [14]:
# sort values by the level of happiness (Score)
df_sorted = df.sort_values(by="Score", ascending=False)
df_sorted.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226

In [ ]:
# choose the country column
top_10_happy_countries = df_sorted["Country or region"].head(10).tolist()

print(top_10_happy_countries)

In [16]:
# count total of all gdpes
gdp_total = df["GDP per capita"].sum()
print(gdp_total)

141.203

In [18]:
# count total of all gdpes in first 10 countries
gdp_10_total = df.head(10)["GDP per capita"].sum()
print(gdp_10_total)

13.87